@()

@main("Welcome to Play") {
  <h3>Welcome to about page!</h3>
  <div class="container">
    <div class=" text-center">
      <img src="@routes.Assets.versioned("images/DJ_image.png")" width="600" height="" alt="">
    </div><hr>
    <div class="row">
      <div class="card w-25 ml-3 shadow border-secondary">
        <div class="card-header">
          <p>title</p>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet </p>
        </div>
      </div>
      <div class="card w-25 ml-3 shadow border-secondary">
        <div class="card-header">
          <p>title</p>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet </p>
        </div>
      </div>
      <div class="card w-25 ml-3 shadow border-secondary">
        <div class="card-header">
          <p>title</p>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet </p>
        </div>
      </div>
    </div>
  <br><br><br>
  
  </div>
}