@()

@main("Welcome to Play") {
    <h1>Welcome to Play!</h1>
    <h2>Welcome to Play!</h2>
    <h3>Welcome to Play!</h3><hr>
    
  <div class="container">
    <h4>Welcome to Play!</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus quibusdam veritatis repellendus sint non. Iusto consequatur aperiam sint maiores animi cumque deleniti unde, laboriosam quae facere, sit qui reiciendis!</p>
    <div class="row">
      <div class="card w-25 mr-3">
        <div class="card-header">
          <p>title</p>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet </p>
        </div>
      </div>
      <div class="card w-25 mr-3">
        <div class="card-header">
          <p>title</p>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet </p>
        </div>
      </div>
      <div class="card w-25 mr-3">
        <div class="card-header">
          <p>title</p>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet </p>
        </div>
      </div>
    </div>
  </div>
}
